.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-family: 'ARCADECLASSIC', sans-serif;
  font-size: 3vh;
  background-image: url('./backgroundimage.jpeg');
  background-size: contain;
}

.MainText {
  font-family: 'ARCADECLASSIC', sans-serif;
  font-size: 10vh;
  color: aqua;
  text-align: center;
}

.startButton {
  background-image: url('./startbutton.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 55px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: transparent;
}

.startButton:active {
  transform: scale(0.95);
}

.downloadButton {
  background-image: url('./downloadbutton.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: transparent;
  margin-right: 80px;
}

.downloadButton:active {
  transform: scale(0.95);
}

.memeTemplate {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.MemeTemplateText {
  color: #290f6a;
  text-align: center;
}

.pixelsun {
  width: 200px;
  height: 200px;
  position: center;
  margin-bottom: 50px;
}
